version: '3'
services:
  web:
    build: .
    volumes:
      - ./source:/app/source
      - ./config.json:/app/config.json
    ports:
      - "5001:5001"
    environment:
      MQTT_HOST: "192.168.100.196"
      MQTT_PORT: 1883
      MQTT_USERNAME: "admin"
      MQTT_PASSWORD: "123123123"
    networks: 
      - staging-network
networks:
  staging-network: 
